# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dataset - never commit raw dataset
data/raw/
data/processed/

# Model checkpoints
*.pt
*.pth
*.ckpt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log